<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./public/fonts/icomoon/style.css">

    <link rel="stylesheet" href="./public/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="./public/css/style.css">

    <title>Sign Up</title>
</head>
<body style="background-image: url('../../public/images/img.png');">
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="../../public/images/vika-strawberrika-19R4G17VXrE-unsplash.jpg"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%"/>
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <h3>Register</h3>
                                <form action="/register" method="POST">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group first">
                                                <h6>First Name</h6>
                                                <input type="text" class="form-control" name="firstname" id="firstname">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group first">
                                                <h6>Last Name</h6>
                                                <input type="text" class="form-control" name="lastname" id="lastname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group first">
                                                <h6>Email Address</h6>
                                                <input type="text" class="form-control" name="email" id="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group first">
                                                <h6>Home Address</h6>
                                                <input type="text" class="form-control" name="address" id="address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group first">
                                                <h6>Phone Number</h6>
                                                <input type="text" class="form-control" name="phonenumber" id="phonenumber">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group first">
                                                <h6>User Name</h6>
                                                <input type="text" class="form-control" name="username" id="username">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group last mb-3">
                                                <h6>Password</h6>
                                                <input type="password" class="form-control" name="password" id="password">
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group last mb-3">
                                                <h6>Re-type Password</h6>
                                                <input type="password" class="form-control" name="re-password" id="re-password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                                    </div>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Have an account? <a href="/login"
                                                                                                              style="color: #393f81;">Login here</a></p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../../public/js/resource/jquery-3.3.1.min.js"></script>
<script src="../../public/js/resource/popper.min.js"></script>
<script src="../../public/js/resource/bootstrap.min.js"></script>
<script src="../../public/js/account/main.js"></script>
</body>
</html>